<head>
 <title>The Bird</title>

     <!-- global resize for any device -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nu.css" type="text/css" />

  </head>
  <body>
    <div class="nav">

     <img class="logo" src="/images/bird.jpg" >
      <h1>The Bird</h1>

      <div class='rwd-menu'>
        <button class="btn"><span class="fas fa-bars"></span></button>
      </div>
      <!-- This button should ONLY be shown on index when menu IS NOT open -->
     <button class="menu btn btn-primary" type="submit">
      <span class="menu_text">Menu</span>
     </button>
     <!-- This button should ONLY be shown on index when menu IS NOT open -->

     <!-- This button should be displayed in ALL other cases on EVERY other page -->
     <button class="home btn btn-primary" type="submit">
      <span class="home_text">Home</span>
     </button>
     <!-- This button should be displayed in ALL other cases on EVERY other page -->

     <!-- If on dashboard or order pages, check order not shown -->
     <button class="check_order btn btn-primary" type="submit">
      <span class="check_order_text">Check Order</span>
     </button>

     <form name ='check_order_form' id='check_order_form' action='/.../' method='...'>
      <input name="check_order_text" class="check_order_text form-control d-inline-block my-3" type="number">
      <button class="check btn btn-primary" type="submit">
       <span class="check_button_text">Check</span>
      </button>
     </form>
     <!-- If on dashboard or order pages, check order not shown -->

     <section class="info">
      <span class="number_text">780-888-8888</span>
      <span class="address_text">1234 Main Street</span>
     </section>

     <!-- This should not be shown on Dashboard Page -->
     <section class="location">
      <span class="distance_text">10 KM Away</span>
      <i class="fa fa-location-arrow"></i>
     </section>
     <!-- This should not be shown on Dashboard Page -->

   </div>
