@charset "UTF-8";

$orange: #e87503;
$orange2: #e77739;
$white: #fff;
$black: #000;

@mixin trans($val) {
  -webkit-transition: $val;
     -moz-transition: $val;
      -ms-transition: $val;
       -o-transition: $val;
          transition: $val;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

body {
    background-image: url(https://design-milk.com/images/2014/09/Bibo-Restaurant-Lounge-Substance-1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.nav {
  background-color: $white;
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 1rem;
  position: fixed;
  right:0;
  height: 100vh;
  z-index: 10;

  .logo {
    width: 100%;
    max-width: 200px;
  }

  h1 {
    margin: 1rem;
  }

  button {
    margin: 1.5rem 0;
  }

  /* form in nav */

  #check_order_form {
    display: none;
  }


  .check_order_text {
    width: 100px;
    text-align: center;
    margin-bottom: 1rem;
  }
}

/* menu items area */
.order_container {
      margin: 0.5rem 0;
      position: relative;
      background-color: rgba(0,0,0, 0.65);
  }

  .order_container:first-child {
    margin-top: 5.5rem;
  }

.menu_container {
  padding: 1.5rem;
  position: absolute;
  left: 0;
  width: 70%;

  section.categories {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      text-align: center;
  }

  section.categories button,
  #order_form input[type="submit"],
  button.order, button.notify,
  .notified_form button {
      margin: 0 1rem;
      background-color: transparent;
      color: $white;
      border:solid 2px $white;
  }

  div.breakfast,
  div.lunch,
  div.dinner,
  .order_container {
      margin: 0.5rem 0;
      position: relative;
      background-color: rgba(0,0,0, 0.65);
  }

  .order_container {
      width: 67%;
      padding: 1rem 0;
  }

  div.breakfast,
  div.lunch,
  div.dinner,
  .order_container {
    img {
      display: inline-block;
      position:relative;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left:1rem;
      vertical-align: top;
      box-shadow: 0 0 5px $black;
    }
  }
}

div.menu-item-info, .order_container {
    display: inline-block;
    position: relative;
    width: 90%;
    margin-left:  1rem;
}

span.food_name {
    color: $orange;
    display: block;
    font-weight: bold;
    margin: 1rem 0;
}

span.food_description {
    color: $white;
    display: block;
    margin: 1rem 0;
}

.qty-selection {
    text-align: right;
    padding: 1rem 0;
}

span.food_price {
    margin-right: 1rem;
    color: $orange;
    font-weight:bold;
}

.qty-selection > input {
    width: 25px;
    height: 25px;
    margin: 0;
    vertical-align: bottom;
    box-shadow: 0 0 5px $black;
}

select.dropdown {
    padding: 0.25rem;
    background-color: $white;
    @include border-radius(3px);
    color: #666;
    box-shadow: 0 0 5px $black;
}

#place_order_form input[type="submit"] {
    padding: 0.5rem 1rem;
    @include border-radius(7px);
    color: $black;
    bottom:0;
    background-color: $orange;
    border-color: $orange;
    text-align: right;
    display: block;
    position:absolute;
    right: 0.5rem;
    margin-bottom: 1rem;
}

#place_order_form {
  background-color: $orange;
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 70%;
  text-align:right;
  @include trans('bottom 0.5s ease-in-out');

   input.name, input.number {
    padding: 0.5rem;
    @include border-radius(5px);
    border: solid 2px $white;
  }

  span.name_text, span.number_text {
    font-size: 1.15rem;
    margin-right: 0.5rem;
  }

  span.number_text {
    margin-left: 1.5rem;
  }

  input[type="submit"] {
    display: inline-block;
    position: static;
    left:inherit;
    bottom: inherit;
    background-color: transparent;
    border: solid 2px $white;
    color: $white;
    margin-left: 1rem;
    margin-right: 0.5rem;
    right: 0;
  }

  input[type="submit"]:hover {
    border: solid 2px #bb5218;
    background-color: #bb5218;
    color: $white;
  }
}

span.total {
    position: absolute;
    right: 1.25rem;
}

.order_container_header {
  margin: 1rem 0;
  text-align: center;
  color: $white;
}

span.quantity {
    color: $white;
}

input.notify_text {
    padding: 0.25rem;
    border: solid 1px #666;
    @include border-radius(3px);
    margin-right: 0.5rem;
    text-align:center;
    width: 85px;
}

.notify_form {
  margin: 1rem 1rem 1rem 0;
}

.notify_form, .notified_form {
    text-align:right;
}

.notified_form {
    display: none;
}

button.notify, .notified_form button  {
    padding: 0.25rem 1rem;
    @include border-radius(3px);
}

.notified_form button {
    margin: 1rem 1rem 1rem 0;
}

.notified_form i, .notifed_text {
    color: $white;
    margin-right: 1rem;
}

.order-h1 {
    width: 70%;
}

.order_container_footer span.total {
    color: $white;
}

.rwd-menu {
    display:none;
}

/* Bootstrap Over-rides */

.btn, button.notify, .notified_form button  {
    background-color: $orange;
    border-color: $orange;
}

.btn:hover, .btn:active, button.notify, .notified_form button  {
    background-color: #ff7f00;
    border-color: #ff7f00;
}

/* media queries */

@media screen and (max-width:800px) {

    .nav {
        width: 100%;
        height: 70px;
        top:0;
        right: inherit;

      .logo {
        width: 40px;
        diosplay: inline-block;
        float: left;
        margin-right: 1rem;
      }

      h1 {
          font-size: 1.5rem;
          margin: 0.25rem;
          text-align: left;
      }

      button {
        display: block;
        margin: 0.5rem 0;
      }
    }

    .menu_container {
        top: 4rem;
        width: 100%;
        padding: 0.5rem 0.5rem 14rem;
    }

    #place_order_form {
        width: 100%;
        bottom: 0;
    }

    section.categories {
      button {
        margin: 1rem 0;
      }
    }

    body:nth-child(2) {
      margin-top: 5.5rem;
    }

    .order_container {

      width: 95%;

        .order-details {
          .logo {
            text-align: center;
            position: relative;
            left: 1.5rem;
            width: 100%;
          }
        }
    }

    .rwd-menu {
        position: fixed;
        top: 0.5rem;
        right: 1.5rem;
        z-index: 20;
        display:block;
    }

    .menu.btn.btn-primary,
    .home.btn.btn-primary,
    .check_order.btn.btn-primary,
    .info,
    .location {
        display: none;
        width: 100%;
    }

    .menu.btn.btn-primary {
        margin-top: 1rem;
    }

   #place_order_form {
     text-align: right;
     bottom: 0;

     input.name, input.number {
      width: 150px;
      margin-bottom: 1rem;
    }
   }


}
